/* Works */

.Works {

  .row {
    margin-top: 0px;
    margin-bottom: 60px;
  }

  &__under-construction {
    font-size: 20px;
  }

  @include media-breakpoint-up(md) {
    
    &__how-ethical-are-you {
      h2 {
        right: -352px;
        width: 320px;
        top: 120px;
      }
    }
    &__exp1 {
      margin-top: -110px;

      h2 {
        right: -246px;
        top: 180px;
      }
      img {
        width: 320px;
      }
    }
    &__vivid-2018 {
      h2 {
        left: -180px;
        top: 51px;
        width: 180px;
        text-align: right;
      }
    }
    &__fjord-vibe {
      h2 {
        right: -383px;
        top: 180px;
      }
    }
    &__siam {
      h2 {
        top: -70px;
        left: 68px;
        width: 103px;
        text-align: right;
      }
      img {
        transform: translate(250px, -10px);
      }
    }
    &__uts {
      h2 {
        left: -202px;
        width: 210px;
        text-align: right;  
      }
    }
    &__uob {
      h2 {
        left: -210px;
        width: 250px;
        text-align: right;
      }
    }
    &__monster-world {
      margin-top: -40px;
      h2 {
        left: -109px;
        width: 210px;
        top: 0px;
      }
    }
    &__pensivity {
      h2 {
        left: -163px;
        width: 199px;
        top: 0px;
        text-align: left;
      }
    }
    &__graffiti-me {
      margin-top: -10px;
      h2 {
        left: -163px;
        width: 89px;
        top: 0px;
        text-align: left;
      }
    }
    &__the-creators {
      margin-top: -50px;
      h2 {
        left: 510px;
        width: 199px;
        top: -31px;
        text-align: left;
      }
    }
    &__designing-4-mobile {
      h2 {
        left: -307px;
        width: 317px;
        top: -25px;
        text-align: right;
      }
      img {
        width: 410px;
      }
    }
  }
}


.Work {
  &__img {
    width: 100%;
  }
  &__h2 {
    letter-spacing: 1px;
    color: black;
    font-size: 38px;
    line-height: 1.15;
    font-weight: 500;
    width: 400px;
    z-index: 1;
    color: blue;
    
    &:hover {

    }
  }
  @include media-breakpoint-up(md) {
    &__h2 {
      position: absolute;
    }
    &__img {
      width: 487px; // half the width of the real image
    }
  }
}


.WorkDetail {
  width: 400px;
  padding-right: 400px;
  position: relative;

  &__description {
  }

  img {
    position: absolute;
    top: 0;
    right: 0;    
    width: 300px;
    padding-bottom: 80px; // so absolute bottom doesn't cut into the navigation area
  }
}