body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.Nav {
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  width: 80%;
  background-color: white;
  color: blue;
  left: 50%;
  transform: translateX(-50%);
  ul {
    margin: 0.5rem 0;
    padding: 0;
    li {
      display: inline-block;
      margin-left: 1.5rem;
    }
  }
}