$red: #ff0200;

body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: blue;
  &:hover {
    color: $red;
  }
}

.Nav {
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  width: 80%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  ul {
    margin: 0.5rem 0;
    padding: 0;
    li {
      display: inline-block;
      margin-left: 1.75rem;
    }
  }
}

.Button-container {
  position: fixed;
  right: 0;
  top: 100px;
  text-align: right;
}

.Button {
  display: block;
}