#circle {
  svg { 
    position: absolute; 
    display: block;
    right: 20px; 
    bottom: 20px; 
    animation-name: rotate;
    animation-duration: 115s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    user-select: none;
    width: 300px;
    @include media-breakpoint-down(sm) {
      width: 170px;
      bottom: 0;
      top: 63vh;
    }    
  }
  text {
    font-family: 'Helvetica Neue', Arial; 
    font-size: 29px; 
    font-weight: bold; 
    letter-spacing: -1.9px;
    // font-variant: small-caps; 
    // text-transform: lowercase;
  }
  a {
    cursor: pointer;
    fill: white;
    &:hover {
      text-decoration: underline;
    }
  }
}


@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}



