#circle {
  svg { 
    position: absolute; 
    display: block;
    right: 20px; 
    bottom: 20px; 
    animation-name: rotate;
    animation-duration: 115s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    user-select: none;
  }
  text {
    font-family: 'Helvetica Neue', Arial; 
    font-size: 27px; 
    font-weight: bold; 
    
    // font-variant: small-caps; 
    // text-transform: lowercase;
  }
  a {
    cursor: pointer;
    fill: white;
    display: block;
    padding: 40px;
    &:hover {
      text-decoration: underline;
    }
  }
}


@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}



